.progressbar {
  margin-bottom: 25px;
  .top-details {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  .track {
    height: 7px;
    width: 100%;
    background-color: blue;
    border-radius: 10px;
    overflow: hidden;

    .bar {
      height: 100%;
      width: 50%;
      background-color: red;
      border-radius: 10px;
    }
  }
}
