.section-wrap {
  padding: 20px 40px 20px 53px;
}

.MTableToolbar-title-9 {
  display: none;
}
.MTableToolbar-searchField-10 {
  position: absolute !important;
  left: 5px !important;
}

table tr td {
  font-size: 12.4px !important;
  color: #425466 !important;
}

table tr th {
  font-size: 15.4px !important;
  color: #425466 !important;
  font-weight: 600;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.section-wrap {
  padding: 20px 40px 20px 53px;
}

.MTableToolbar-title-9 {
  display: none;
}
.MTableToolbar-searchField-10 {
  position: absolute !important;
  left: 5px !important;
}

table tr td {
  font-size: 12.4px !important;
  color: #425466 !important;
}

table tr th {
  font-size: 15.4px !important;
  color: #425466 !important;
  font-weight: 600;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #e5e5e5;
}
